@using EPAM.UsersAndAwards.Entities;
@using Task_10_ASP.Net_Web_Pages.Models;

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Change Role Account";

    string errorMsg = Response.Headers["ErrorMsg"];
    string returnUrl = Request?.UrlReferrer?.AbsolutePath;

    if (returnUrl == "/Pages/ChangeRoleAccount" || returnUrl == null)
    {
        returnUrl = "/Pages/Index";
    }

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("/Pages/SignIn");
    }
    else if (!User.IsInRole("Admin"))
    {
        Response.Redirect("/Pages/Index");
    }

    if (Request.QueryString.Count != 0)
    {
        if (int.TryParse(Request.QueryString["accId"], out int accId))
        {
            Account account = AccountModel.GetAccount(accId);

            if (account == null)
            {
                <h3 class="pl-2 bg-danger text-white text-center">Account not found</h3>
                <a href="/Pages/Index" class="btn btn-primary">Main menu</a>
            }
            else if (account.Login == User.Identity.Name)
            {
                <h3 class="pl-2 bg-danger text-white text-center">
                    It is impossible to change your role.
                    Contact the DB admin or another admins to change your role.
                </h3>
                <a href="~/Pages/ShowAccounts" class="btn btn-primary">Back</a>
            }
            else
            {
                <h3 class="p-2 bg-primary text-white text-center">Change Role Account</h3>

                if (errorMsg != null)
                {
                    <div class="alert-danger">
                        @errorMsg
                    </div>
                }

                <form action="" method="post">
                    <input type="hidden" name="accId" value="@account.Id" />
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    <input type="hidden" name="account" value="true" />
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelectRole">Role</label>
                        </div>
                        <select name="Role" class="custom-select" id="inputGroupSelectRole">
                            @foreach (var role in AccountModel.GetRoles())
                            {
                                if (account.RoleId == role.Id)
                                {
                                    <option value="@role.Id" selected>@role.Name</option>
                                }
                                else
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Change Role</button>
                        <a class="btn btn-secondary" href="~/Pages/ShowAccounts">
                            Cancel
                        </a>
                    </div>
                </form>
            }
        }
        else
        {
            <h3 class="pl-2 bg-warning text-white text-center">Not valid id.</h3>
            <a href="/Pages/Index" class="btn btn-primary">Main menu</a>
        }
    }
    else
    {
        <h3 class="pl-2 bg-danger text-white text-center">Nothing Change</h3>
        <a href="~/Pages/Index" class="btn btn-primary">Main menu</a>
    }
}